.paperStyle{
    padding: 30px 20px ;
    width:300px ;
    margin: 30px auto ;
    background-color: rgb(15, 145, 123);
    // height: 300px;
}

.buttonMargin {
    margin-top :10px ;
    color:grey; 
    border : solid 1px black ;
}

.header {
    margin-top :5px ;
    margin:5px ;
    // background-color: rgb(15, 145, 123);
}
.errorMessage {
    color: red;
}