// .outer-box {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .form-box {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     border: 1px solid #c5c5c5;
//     border-radius: 8px;
//     width: 700px;
//     padding: 3%;
//     font-family: 'Roboto', sans-serif;
// }

// .first-box {
//     width: 60%;
// }

// .img-box {
//     padding: 5%;
//     text-align: center;
// }

// .fundoo-logo {
//     font-size: 24px;
//     font-weight: 600;
// }

// .form-heading {
//     font-size: 24px;
// }

// .name-div {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     margin-bottom: 5%;
// }

// .username {
//     width: 100%;
// }

// .current-mail,
// .sign-in-instead {
//     font-weight: 600;
//     text-decoration: none;
//     color: #3f51b5;
//     padding: 2%;
// }

// .sign-in-instead:hover,
// .current-mail:hover {
//     color: #2f3d96;
//     background-color: #ced8f852;
// }

// .link-div {
//     padding: 5% 0;
// }

// .password-div {
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: space-between;
// }

// .password-field,
// .name-field {
//     width: 48%;
// }

// .bottom-div {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     padding-top: 10%;
// }

// @media only screen and (max-width:1190px) {

//     .form-box {
//         width: 500px;
//         padding: 5%;
//     }

//     .first-box {
//         width: 100%;
//     }

//     .img-box {
//         display: none;
//     }
// }

// @media only screen and (max-width:600px) {
//     .form-box {
//         margin-top: 40%;
//         border: none;
//         width: 100%;
//     }

//     .name-field {
//         width: 100%;
//     }

//     .password-div {
//         display: flex;
//         flex-flow: column;
//     }

//     .password-field,
//     .name-field {
//         margin: 10px 0;
//         width: 100%;
//     }

//     .name-div {
//         margin: 10px 0;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         margin-bottom: 5%;
//     }
// }




@import '../../style/variable.scss';

.formStyle {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #949090;
    .paperStyle {
      min-height: 100vh;
      display: flex;
      justify-content: left;
      align-items: flex-start;
      padding: 10px 20px;
      border-radius: 8px;
      border: 1px solid #dadce0;
      background-color: #ffffff;
      margin: 10px 0;
    }
    
    
    .headerStyle {
        color:black !important;
        text-align: left ;
    }
    
    // .fundoo-body {
    //     padding: 0;
    // }
    .fun1 {
        color: rgb(66, 133, 244);
    }
    .fun2 {
        color: rgb(234, 67, 53);
    }
    .fun3 {
        color: rgb(251, 188, 5);
    }
    .fun4 {
        color: rgb(66, 133, 244);
    }
    .fun5 {
        color: rgb(52, 168, 83);
    }
    .fun6 {
        color: rgb(234, 67, 53);
    }

    .register-form{
        flex-basis: 450px !important;
        flex-grow: 1;
    }
    .register-avatar{
        width: 250px;
        height: 100%;
        text-align: center;
        position: relative;
        top: 24%;
        left: 4%;
    }

    .register-form-element {
        min-height: 90px;
        .MuiInputLabel-formControl {
            top: -7px;
        }
    }
    .register-form-inputs input{
        font-size: 14px;
        height: 30px;
        padding: 6px 8px;
    }
    .register-form-button {
        background-color: #1a73e8;
        color: #ffffff;
        margin: 30px 0;
        width: 50%;
        height: 50px;
        margin: 20px auto;
    }
    .register-form-button:hover{
        background-color: #1a73e8;
        box-shadow: none;
    }
    .submit-button{
        text-align: center;
        width: 100%;
    }
 
    .register-form-inputs{
        margin: 20px 0 0 0;
    }
    // .register-form-button:hover{
    //     background-color:rgb(52, 168, 83);
    //     box-shadow: none;
    // }
    .submit-button{
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
        line-height: 1.4286;
        // background-color: green;
    }

    .submit-button{
        text-align: center;
        width: 100%;
        // background-color: green;

    }
    .signInlink{
        margin: 5px 0;
        text-align: left;
        
    }
}
    .header {
        font-weight: bold;
        color: blue;
        padding: 5;
      }

       /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .register-container{
        min-height: 500px !important;
        width: 450px;
        padding: 48px 40px 36px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .register-container{
        width: 750px;
        min-height: 500px !important;
        padding: 48px 40px 36px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
  