.paperStyle {
    padding:30px 20px ;
    width:300px ;
    margin:90px auto ;
}
.header {
    margin:3px ;
}
.avatarStyle {
    background-color:gray ;
}
.buttonMargin {
    margin-top :10px ; 
    color:rgb(12, 12, 68) ; 
    border:2px solid ;
}

.errorMessage {
    color: red;
}