.root {
  display: flex;
}
.lastContent {
  display: flex;
  align-items: flex-start;
}
.drawerButton {
  margin: 8px 0 8px 0;
}
.drawerButton:hover {
  background-color: rgb(236, 236, 236);
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}
.topBar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.leftOptions {
  width: 70%;
  /* border: black solid; */
  display: flex;
  justify-self: start;
  justify-content: space-between;
}
.rightOptions {
  width: 26%;
  /* border: black solid; */
  display: flex;
  justify-self: end;
  justify-content: space-between;
}
.headerIcon {
  width: 45px;
}
.startOptions {
  display: flex;
  align-items: center;
}
.buttonContainer {
  display: flex;
}
.headerTitle {
  margin: 3%;
  color: #5f6368;
  font-size: x-large;
  font-family: "Product Sans", Arial, sans-serif;
}
.search {
  margin: 5px 5px 5px 5px;
  height: 50px;
  width: 70%;
  display: flex;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
}
.searchedButton {
  display: none;
}
.searchIcon {
  margin-left: 3%;
}
.searchInput {
  margin-left: 2%;
  width: 80%;
}
.appsContainer {
  display: flex;
}
.MenuList{ 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 } 

.displayNotes{
  margin: 1%;
  margin-left:200px;
}

@media only screen and (max-width: 900px) {
  .search {
    display: none;
  }
  .searchedButton {
    display: initial;
  }
  .leftOptions {
    width: auto;
  }
  .rightOptions {
    width: auto;
  }
}

@media only screen and (max-width: 400px) {
  .headerTitle {
    margin: 1%;
    font-size: 1.1em;
  }
  .headerIcon {
    width: 30px;
  }
  .rightOptions {
    justify-content: flex-end;
  }
}



// vaishnavi code
// ody {
//   background-color: #fff;
//   width: 100%;
// }

// .search-icon {
//   display: none;
// }

// .dashbd-menu-btn {
//   margin-right: 50px;
// }

// .dashbd-search {
//   width: 70%;
//   position: relative;
//   border-radius: 5px;
//   background-color: #e4e4e4b6;
//   color: #252525;
//   margin: 0 5%;
//   box-shadow: 1px 1px 3px #979797;
//   padding: 7px;
// }

// .dashbd-search:hover {
//   background-color: #fff;
// }

// .dashbd-keep-icon {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

// .dashbd-search-icon {
//   padding: 0 1%;
//   height: 100%;
//   position: absolute;
//   bottom: 1px;
//   cursor: none;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
// }

// .dashbd-inputbase {
//   padding: 1px;
//   padding-left: 1px;
//   width: 100%;
//   color: #252525;
// }

// .dashbd-header-icons {
//   display: flex;
//   width: 50%;
//   justify-content: flex-end;
//   color: #575757;
// }

// .main-container {
//   background-color: #fff;
// }

// .icons {
//   margin: 0 15px;

// }

// .ref-icon:hover,
// .lis-icon:hover,
// .app-icon:hover,
// .acc-icon:hover,
// .set-icon:hover {

//   color: #252525;
// }

// .google-icons {
//   display: flex;
//   flex-direction: row;
//   margin-left: 20px;
// }

// .acc-icon,
// .app-icon {
//   margin: 0 10px;
// }

// .dashbd-list {
//   top: 60px;
// }

// .list-items {
//   display: flex;
//   padding: 15px 20px;
//   align-items: center;
//   font-size: 16px;
// }

// .list-items:hover {
//   background-color: #ebebeb !important;
// }

// .list-name {
//   margin-left: 30px;
// }

// .content-container {
//   width: 100%;
//   padding: 0px;
//   height: fit-content;
//   padding-top: 90px;
//   padding-left: 10%;
// }

// .profile-popper {
//   padding: 40px 30px;
//   text-align: center;
//   box-shadow: 1px 1px 5px #888888;
// }

// .resp-search-bar {
//   flex-direction: row;
//   align-items: center;
//   box-shadow: 1px 1px 5px #575757;
//   border-radius: 5px;
//   padding: 5px;
//   width: 100%;
// }

// .resp-search-input {
//   margin: 0;
// }

// @media only screen and (max-width:1250px) {
//   .dashbd-search {
//       position: relative;
//       margin-right: 0;
//       padding-right: 0;
//   }

//   .icons {
//       margin: 0 5px;
//   }

//   .content-container {
//       padding-left: 8%;
//   }

// }

// @media only screen and (max-width:1000px) {
//   .dashbd-search {
//       position: relative;
//       margin-right: 0;
//       padding-right: 0;
//   }

//   .icons {
//       margin: 0 5px;
//   }
// }

// @media only screen and (max-width: 800px) {
//   .dashbd-search-icon {
//       display: none;
//   }

//   .search-icon {
//       display: flex;
//   }

//   .search-bar {
//       display: none;
//   }

//   .tool-bar {
//       width: 100%;
//   }

//   .dashbd-header-icons {
//       width: 100%;
//   }

//   .dashbd-search {
//       background-color: #e4e4e400;
//       box-shadow: none;
//       width: 0;
//       position: unset;
//   }
// }


// @media only screen and (max-width:790px) {

//   .acc-icon,
//   .app-icon {
//       margin: 0 2px;
//   }

//   .google-icons {
//       margin-left: 0;
//   }
// }

// @media only screen and (max-width:689px) {

//   .dashbd-menu-btn {
//       margin-right: 0px;
//   }

//   #list-icon {
//       display: none;
//   }
// }

// @media only screen and (max-width:400px) {

//   /* .content-container {
//       padding-left: 60px;
//       padding-right: 10px;
//   } */

//   .icons {
//       padding: 0 3px;
//   }

//   .dashbd-keep-icon {
//       font-size: 14px;
//   }

//   .keep-icon {
//       height: 30px;
//   }


// }








// rekha code


// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// .header_dashboard {
//   background-color: #ffffff;
//   margin: auto -10px;
//   padding: 10px 20px;
//   box-shadow: 0 0 2px 0 rgb(110, 110, 110);
//   flex-direction: row;
//   display: flex;
//   align-items: center;
// }

// .header h1 {
//   color: #5f6368;
//   font-size: 1.5rem;
//   font-weight: 600;
// }

//////////////////////////////////////////////////////////////////////////////////








//vaishnavi code



// .MuiAppBar-colorPrimary {
//     color: black;
//     /* background-color: white; */
//   }
  
//   .custom-drawr .MuiDrawer-paper {
//     top: 50px;
//   }
//   .MuiDrawer-paperAnchorDockedLeft {
//     border-right: none !important;
//   }
//   .MuiDivider-root {
//     border: none;
//     height: 1px;
//     margin: 0;
//     flex-shrink: 0;
//     background-color: rgba(0, 0, 0, 0.0) !important;
//   }
//   .MuiPaper-elevation4 {
//     box-shadow: none !important;
//   }
//   .toolbar {
//     box-shadow: none;
//     border: 1px solid #ccc;
//   }
//   .list-items:hover {
//     background-color: #feefc3;
//     border-radius: 20px;
//     /* border-top-right-radius: 100px;
//     border-bottom-right-radius: 100px; */
//   }
  
//   .note-component {
//     width: 100%;
//     margin-left: 70px;
//     margin-right: 10px;
//     /* margin-top: 70px; */
//     overflow: hidden;
//   }
  
//   .MuiCard-root {
//     width: 600px;
//     overflow: hidden;
//   }
//   /* .MuiCardContent-root:last-child {
//       padding: 0 !important;
//   } */
//   .input-card {
//     /* box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / */
//     box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.75);
//     -webkit-box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.75);
//     -moz-box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.75);
//     border-radius: 10px !important;
//   }
//   .keep-wrd {
//     margin: 0;
//     padding: 0;
//     color: #000;
//   }
//   .keep-img{
//     height: 30px;
//   }
//   .card-container {
//     display: flex;
//     justify-content: center;
//     /* height: 200px; */
//     margin-top: 100px;
//   }
//   /* Notes-Icon,
//   ReminderIcon,
//   EditIcon {
//     margin-top: 10px;
//   } */
//   .ref-icon,
//   .view-icon,
//   .setting-icon,
//   .app-icon {
//     /* color: #202124; */
//     color: rgba(0, 0, 0, 0.54);
//     margin-left: 2%;
//   }
//   .acc-icon{
//     color: rgba(0, 0, 0, 0.54);
//     margin-left: 5%;
  
//   }
//   .close-icon {
//     color: rgba(0, 0, 0, 0.54) !important;
//     margin-left: 90%;
//     margin-bottom: 100% !important;
//   }
//   .makeStyles-search-12 {
//     width: 100% !important;
//     padding-left: 10%;
//   }
  
  
//   @media only screen and (max-width: 980px) {
//     /* .custom-drawr .MuiDrawer-paper {
//       top: 50px;
//     } */
//   }
  
//   .title {
//     border: none;
//     font-size: 18px;
//     height: 50px;
//   }
//   .title2{
//     border: none;
//     font-size: 15px;
//     height: 50px;
  
//   }
  
//   .title:focus-visible {
//     border: none;
//     font-size: 18px;
//     outline: none;
//   }
  
//   .logout-popper {
//     padding: 40px 30px;
//     text-align: center;
//     box-shadow: 1px 1px 5px #888888;
//   }
  
//   /* .card-shadow {
//       box-shadow: 20px 12px 52px -20px rgba(0,0,0,0.52);
//   -webkit-box-shadow: 20px 12px 52px -20px rgba(0,0,0,0.52);
//   -moz-box-shadow: 20px 12px 52px -20px rgba(0,0,0,0.52);
//   } */
//   @media only screen and (max-width :500px){
  
//       .MuiCard-root{
//           width: 270px;
//           margin: 50px;
//       } 
//       /* .search-bar{
//         display: none !important;
//       } */
//       .view-icon{
//        display: none !important;
//       }
      
      
//   }