.check-icon,.brush-icon,.image-icon{
    color: rgba(0, 0, 0, 0.54);
    margin-left: 5%;
}
.MuiCardContent-root:last-child {
    /* padding-bottom: 24px; */
    padding: 5px !important;
}
.takenote-icons{
    padding-left: 150px;
} 