.signCard{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
}

.text{
    width: 100%;
}
.textEmail{
    width: 100%;
}

.textLogin{
    width: 77%;
}

.forgotPass{
    margin-top: -2%;
    margin-left: -14%;
}


@media only screen and (max-width : 600px) {
    .signCard{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
    }
    
    .forgotPass{
        margin-left: -10%;
    }

  }

  @media only screen and (max-width : 1200px) {
    .signCard{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
    }
  }